.footer {
  position: flex;
  z-index: 1;
  height: 10%;
  width: 100%;
  padding-bottom: 50%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon {
  font-size: 26px;
  padding: 10px;
  margin: 5px;
  color: white;
}

.footer-text {
  margin-top: 10px;
  text-align: center;
}
