.faTrash {
  margin: 3px;
  position: absolute;
  left: 93%;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}
.faTrash:hover {
  animation: bounce 0.2s 3;
}

.faTimes {
  display: flex;
  align-items: center; /* center icon vertically */
  justify-content: center; /* center icon horizontally */
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}
