<div class="topbar-container">
  <input
    type="search"
    class="search"
    placeholder="Search"
    (input)="searchOnChange($event)"
  />

  <app-buttons
    [isDropdown]="false"
    [text]="'Flip'"
    (click)="flipAll()"
  ></app-buttons>

  <app-buttons
    [isDropdown]="true"
    [text]="'Your tags'"
    [tagItem]="YourTagsItem"
    [alltags]="false"
  ></app-buttons>

  <!-- [alltags]="false" -->

  <app-buttons
    [isDropdown]="true"
    [text]="'All tags'"
    [tagItem]="AllTagsItem"
    [alltags]="true"
    (click)="allTags()"
  ></app-buttons>

  <app-buttons
    [isDropdown]="false"
    [text]="showAbout ? 'Back' : 'About'"
    (click)="toggleAbout()"
  ></app-buttons>
</div>
