.app-container {
  background-color: #313552;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 4%;
  left: 0;
  overflow: auto;
}

.container-item {
  position: fixed;
  left: 20%;
  top: 5%;
}
