<div class="page">
  <div class="topbar-container">
    <input
      type="search"
      class="search"
      placeholder="Search"
      (input)="searchOnChange($event)"
    />

    <app-buttons
      [isDropdown]="false"
      [text]="'Flip'"
      (click)="flipAll()"
    ></app-buttons>

    <app-buttons [isDropdown]="true" [text]="'Your tags'"></app-buttons>
    <app-buttons [isDropdown]="false" [text]="'All tags'"></app-buttons>
    <app-buttons
      [isDropdown]="false"
      [text]="'About'"
      routerLink="/about"
    ></app-buttons>
  </div>

  <div class="app-container">
    <app-displayitems
      [tagItems]="hasSearchResults ? searchResults : tagItems"
      [save]="save"
    ></app-displayitems>
  </div>
</div>
