<form class="add-form" (submit)="addTag($event)">
  <input
    type="text"
    name="text"
    id="tags{{ tagItem.id }}"
    placeholder="Add Tag"
  />
  <input type="submit" value="Add tag" class="btn" />
</form>

<!-- <form class="add-form" (submit)="addTag()">
  <input type="text" name="text" [(ngModel)]="newTag" placeholder="Add Tag" />
  <input type="submit" value="Add tag" class="btn" />
</form> -->

<!-- <form class="add-form">
  <input
    type="text"
    name="text"
    id="tags{{ tagItems.id }}"
    placeholder="Add Tag"
  />
  <input type="submit" value="Add tag" class="btn" />
</form> -->

<!-- <form class="add-form">
  <input
    type="text"
    name="text"
    id="tags{{ tagItems.id }}"
    placeholder="Add Tag"
  />
  <input type="submit" value="Add tag" class="btn" />
</form> -->
