<div *ngIf="isDropdown" class="button-dropdown">
  {{ text }}
  <div class="dropdown-content">
    <div *ngFor="let tag of alltags | async">
      <div *ngIf="tag.showTag" class="taglist" (click)="showItem(tag)">
        {{ tag.tag }}: {{ tag.count }}
      </div>

      <div *ngIf="!tag.showTag" (click)="showItem(tag)" class="taglist">
        <span class="line-through"> {{ tag.tag }}: {{ tag.count }} </span>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!isDropdown" class="button">{{ text }}</div>
