<form class="add-form" (submit)="addTag($event)">
  <div class="form-control">
    <label>
      <input type="text" name="text" id="tags" placeholder="Add Tags" />
    </label>
    <input type="submit" value="Add tag" class="btn" />
  </div>
</form>
<div *ngIf="tags.length > 0" class="tag-list">
  <h4>Tags:</h4>
  <ul>
    <li *ngFor="let tag of tags">
      {{ tag }}
      <fa-icon
        class="faTimes"
        [icon]="faTimes"
        (click)="deleteTag(tag)"
      ></fa-icon>
    </li>
  </ul>
</div>
