.add-form {
  margin-bottom: 40px;
}

.tag {
  background: #f4f4f4;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  border: 1px solid steelblue;
  border-radius: 5px;
}

.tag h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selection {
  font-style: italic;
}

.faTimes {
  color: red;
  cursor: pointer;
}

.two-column-list {
  column-count: 2;
  column-gap: 20px;
  list-style: none;
}
