.topbar {
  background-color: #313552;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 4%;
  margin-bottom: 1px;
}

.search {
  background-color: #30475e;
  color: white;
  font-weight: bold;
  margin: 10px;
  border-radius: 2px;
  font-size: 14px;
  border: 2px solid steelblue;
}

.search:hover {
  border: 2px solid gold;
}
