.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
}

.items {
  position: relative;
  height: 300px;
  width: 400px;
  margin: 10px;
  padding: 5px;
  border: 2px solid steelblue;
  border-radius: 5px;
  background-color: #30475e;
  color: white;
}

.items:hover {
  border: 2px solid gold;
}

.add-form {
  align-self: flex-start;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.faTrash {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: red;
  font-weight: bold;
  font-size: 15px;
}
.faTrash:hover {
  animation: bounce 0.2s 3;
}

.faTimes {
  display: inline-block;
  color: red;
  cursor: pointer;
  position: absolute;
  right: 0;
  font-weight: bold;
  font-size: 15px;
}

.faTimes:hover {
  animation: bounce 0.2s 3;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}

.selection {
  font-style: italic;
  font-size: 16px;
  word-wrap: break-word;
}

.two-column-list {
  column-count: 2;
  column-gap: 20px;
  list-style: none;
}

.list-item {
  background-color: lightgray;
  border-radius: 5px;
  margin: 1px;
  font-size: 14px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: darkblue;
  font-weight: bold;
}

.list-item:hover {
  color: white;
  background-color: black;
}

.tag-title {
  font-weight: bold;
  color: #f1e0ac;
}

.tag-text {
  display: block;
}

.tag-link {
  color: #f1e0ac;
  text-decoration: none; /* optional */
  font-size: 16px;
  font-weight: bold;
}
