.container-item {
  position: fixed;
  left: 20%;
  top: 5%;
}

.items {
  background: #f4f4f4;
  margin: 5px;
  padding: 5px;
  border: 2px solid steelblue;
  border-radius: 5px;
  background-color: #313552;
  color: white;
}

.faTrash {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.selection {
  font-style: italic;
  font-size: 16px;
  word-wrap: break-word;
}

.two-column-list {
  column-count: 2;
  column-gap: 20px;
  list-style: none;
}

.list-item {
  background-color: lightgray;
  border-radius: 5px;
  margin: 1px;
  font-size: 14px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: darkblue;
}

.tag-title {
  font-weight: bold;
  color: #f1e0ac;
}

.tag-text {
  display: block;
}

.tag-link {
  color: #f1e0ac;
  text-decoration: none; /* optional */
  font-size: 16px;
  font-weight: bold;
}

.faTimes {
  color: red;
  cursor: pointer;
  position: absolute;
  right: 0;
  font-weight: bold;
  font-size: 15px;
}
