<div class="maincontainer">
  <div *ngFor="let TagItem of tagItems">
    <div class="items" id="item-{{ TagItem.id }}">
      <div class="front">
        <app-icon
          [className]="'trashAndEdit'"
          *ngIf="!save"
          [icon]="faTrash"
          [color]="'red'"
          (click)="deleteItem(TagItem)"
        ></app-icon>

        <app-title [title]="shorten(TagItem.title, 75)" [url]="TagItem.url">
        </app-title>

        <app-selection
          [selection]="shorten(TagItem.selection, 100)"
          (click)="flipcard(TagItem)"
        ></app-selection>

        <app-tags
          [tagItem]="TagItem"
          (tagAdded)="onTagAdded($event)"
        ></app-tags>

        <div *ngIf="TagItem.tags && TagItem.tags.length > 0" class="tag-list">
          <div class="two-column-list">
            <div *ngFor="let tag of TagItem.tags" class="list-item">
              {{ tag }}
              <fa-icon
                class="faTimes"
                [icon]="faTimes"
                (click)="deleteTag(TagItem, tag)"
              ></fa-icon>
            </div>
          </div>
        </div>

        <form (submit)="onSubmit(TagItem, save)">
          <input
            type="submit"
            [value]="save ? 'Save' : 'Update'"
            class="button"
          />
        </form>
      </div>

      <div class="back">
        <app-icon
          [className]="'trashAndEdit'"
          [icon]="faEdit"
          [color]="'rgb(17, 17, 95)'"
          (click)="editSelection(TagItem)"
        ></app-icon>

        <app-title [title]="TagItem.title" [url]="TagItem.url"> </app-title>

        <app-selection
          [selection]="TagItem.selection"
          (click)="flipcard(TagItem)"
        ></app-selection>

        <form (submit)="saveEdit(TagItem)">
          <input type="submit" [value]="'Save'" class="button" />
        </form>
      </div>
    </div>
  </div>
</div>
