.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
}

.itemsfront {
  position: relative;
  height: 270px;
  width: 400px;
  margin: 10px;
  padding: 5px;
  border: 2px solid steelblue;
  border-radius: 5px;
  background-color: #30475e;
  color: white;
}

.itemsfront:hover {
  border: 2px solid gold;
}

.items.show-back .itemsfront {
  // display: none;
  transform: rotateY(180deg);
  transition: transform 0.5s ease-in-out;
}

.items:not(.show-back) .itemsfront {
  transform: rotateY(0deg);
  transition: transform 0.5s ease-in-out;
}

.items.show-back .itemsback {
  // display: block;
}
// .itemsfront.rotate {
//   transform: rotateY(180deg);
//   transition: transform 0.5s ease-in-out;
// }

.button {
  position: absolute;
  bottom: 0;
  left: 0;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: rgb(17, 17, 95);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 15px;
  font-weight: bold;
}

.formcontrol {
  display: inline-block;
  position: relative;
  margin-bottom: 1rem;
}

.btn {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 3px;
  color: white;
  background-color: rgb(17, 17, 95);
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

.button:hover {
  animation: bounce 0.2s 3;
}

.add-form {
  align-self: flex-start;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.save-form {
  align-self: flex-start;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.faTrash {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: red;
  font-weight: bold;
  font-size: 15px;
}
.faTrash:hover {
  animation: bounce 0.2s 3;
}

.faTimes {
  display: inline-block;
  color: red;
  cursor: pointer;
  position: absolute;
  right: 0;
  font-weight: bold;
  font-size: 15px;
}

.faTimes:hover {
  animation: bounce 0.2s 3;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}

.selection {
  font-style: italic;
  font-size: 16px;
  word-wrap: break-word;
  margin: 10px;
}

.selection:hover {
  cursor: pointer;
}

.two-column-list {
  column-count: 2;
  column-gap: 20px;
  list-style: none;
}

.list-item {
  background-color: lightgray;
  border-radius: 5px;
  margin: 1px;
  font-size: 14px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: darkblue;
  font-weight: bold;
}

.list-item:hover {
  color: white;
  background-color: black;
}

.tag-title {
  font-weight: bold;
  color: #f1e0ac;
  margin: 3px;
}

.tag-text {
  display: block;
}

.tag-link {
  color: #f1e0ac;
  text-decoration: none; /* optional */
  font-size: 16px;
  font-weight: bold;
}
